:root
{
	--leaflet-margin: 10px;
	--leaflet-icon-size: 44px;
}

#map
{
	height: 100%;
	width: 100%;
}

#center
{
	left: var(--leaflet-margin);
	bottom: var(--leaflet-margin);

	background-image: url(../assets/center.png);
}

#position
{
	left: calc((var(--leaflet-margin) * 2) + var(--leaflet-icon-size));
	bottom: var(--leaflet-margin);

	background-image: url(../assets/person_disabled.png);
}

#position.enabled
{
	background-image: url(../assets/person.png);
}

#route
{
	left: calc((var(--leaflet-margin) * 3) + (var(--leaflet-icon-size) * 2));
	bottom: var(--leaflet-margin);

	background-image: url(../assets/map_disabled.png);
}

#route.enabled
{
	background-image: url(../assets/map.png);
}

#info
{
  position: absolute;
  
  left: 50%;
  top: var(--leaflet-margin);
  
  width: auto;
  max-width: 25%;
  height: auto;
  max-height: 15%;
  
  padding: 1rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: translateX(-50%);
}

#info.hide
{
  display: none;
}

.leaflet-control-layers-toggle
{
	background-image: url(../assets/layers.png) !important;
	background-size: 90% 90% !important;
}

.leaflet-routing-container
{
	display: none !important;
}

.leaflet-like-control
{
    background-color: #FFF;
	background-position: center;
	background-size: 90% 90%;

	border: 2px solid rgba(0,0,0,0.2);
    border-radius: 5px;

	width: var(--leaflet-icon-size);
	height: var(--leaflet-icon-size);

	position: absolute;
	z-index: 9999;
}

a.leaflet-like-control:active
{
	box-shadow: gray
}

a.leaflet-like-control:active
{
	background-color: #EEE;
}
